@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, p, a, ol, li{
    @apply text-textColor;
  }
}

body {
  font-family: 'Exo', sans-serif;
  max-width: 90%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-Regular.ttf') format('truetype'),
  url('/fonts/Exo-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.canvas-wrapper {
  position: static; /* of verwijder via unset */
  overflow: visible;
  pointer-events: none; /* aanpassen als nodig */
  touch-action: auto;
  display: flex;
  flex-wrap: wrap;
}
